[submodule "packages/video-player/external-projects/videojs-hls-quality-selector"]
	path = packages/video-player/external-projects/videojs-hls-quality-selector
	url = https://github.com/bcc-code/videojs-hls-quality-selector
