{
  "from": {{ .Offset }},
  "size": {{ .Limit }},
  "min_score": 3,
  "query": {
    "bool": {
      "filter": [
        {
          "term": {
            "published": true
          }
        },
       {
          "bool": {
            "should": [
            {{ range $index, $role := .Roles }}
              {{ if gt $index 0}},{{ end }}
              { "term": {"roles.keyword": "{{ $role }}" } }
            {{ end }}
            ],
            "minimum_should_match": 1
          }
        },
        {
          "bool": {
            "should": [
              { "term": {"availableFrom": 0} },
              { "range": { "availableFrom": {"lt": {{ .TimeNow }} } } }
            ],
            "minimum_should_match": 1
          }
        },
        {
          "bool": {
            "should": [
              {
                "term": {
                  "availableTo": 0
                }
              },
              {
                "range": {
                  "availableTo": {
                    "gt": {{ .TimeNow }}
                  }
                }
              }
            ],
            "minimum_should_match": 1
          }
        }
      ],
      "should": [
        {
          "multi_match": {
            "query": "{{ $.QueryString }}",
            "fields": [
              {{ range $index, $lang := .Languages }}
                {{ if gt $index 0}},{{ end }}
                "title_{{ $lang }}",
                "description_{{ $lang }}"
              {{ end }}
            ],
            "fuzziness": "AUTO",
            "boost": 2
          }
        },
        {
          "multi_match": {
          "query": "{{ $.QueryString }}",
          "fields": [
              "tags",
              {{ range $index, $lang := .Languages }}
                {{ if gt $index 0}},{{ end }}
                "showTitle_{{ $lang }}"
              {{ end }}
            ],
            "fuzziness": 0,
            "boost": 10
          }
        },
        {
          "multi_match": {
            "query": "{{ $.QueryString }}",
            "fields": [
              {{ range $index, $lang := .Languages }}
                {{ if gt $index 0}},{{ end }}
                "title_{{ $lang }}",
                "description_{{ $lang }}"
              {{ end }}
            ],
            "fuzziness": 0,
            "boost": 7
          }
        },
        {
          "multi_match": {
            "query": "{{ $.QueryString }}",
            "fields": [
              {{ range $index, $lang := .Languages }}
              {{ if gt $index 0}},{{ end }}
                "showTitle_{{ $lang }}",
                "title_{{ $lang }}"
              {{ end }}
            ],
            "fuzziness": "AUTO",
            "boost": 3
          }
        },
        {{ range $index, $lang := .Languages }}
          {{ if gt $index 0}},{{ end }}
          {
            "prefix": {
              "title_{{ $lang }}": {"value": "{{ $.QueryString }}"}
            }
          },
          {
            "prefix": {
              "description_{{ $lang }}": { "value": "{{ $.QueryString }}" }
            }
          },
          {
            "prefix": {
              "showTitle_{{ $lang }}": { "value": "{{ $.QueryString }}" }
            }
          },
          {
            "prefix": {
              "seasonTitle_{{ $lang }}": { "value": "{{ $.QueryString }}" }
            }
          }
        {{ end }}
      ]
    }
  }
}
