GOOGLE_CLOUD_PROJECT=<REPLACE>
PORT=8077
DB_CONNECTION_STRING="postgres://btv:btv123@localhost:5432/btv?sslmode=disable"
ALGOLIA_APP_ID=<APP_ID>
ALGOLIA_API_KEY=<API_KEY>
DIRECTUS_SECRET=<SECRET>

# 0 to disable
TRACE_SAMPLING_FREQUENCY=0
# true to print formatted json to terminal
TRACE_PRETTY=true

JWT_DOMAIN="<REPLACE>"
JWT_ISSUER="<REPLACE>"
# Comma separated. Whitespace is stripped. Do not use a trailing comma
JWT_AUDIENCES="<REPLACE 1>[,<REPLACE 2>[,...]]"
