PUBSUB_EMULATOR_HOST=localhost:8538
PUBSUB_PROJECT_ID=btv-local

AWS_ACCESS_KEY_ID=<REPLACE>
AWS_SECRET_ACCESS_KEY=<REPLACE>

AWS_MEDIAPACKAGE_ROLE="<REPLACE>"
AWS_DEFAULT_REGION=eu-north-1
AWS_INGEST_BUCKET=<REPLACE>
AWS_STORAGE_BUCKET=<REPLACE>
AWS_PACKAGING_GROUP="<REPLACE>"
DELETE_INGEST_FILES="false"

DIRECTUS_URL="http://localhost:8055/"
DIRECTUS_KEY="<REPLACE>"

PORT=8078
