# For local development
PUBSUB_EMULATOR_HOST=localhost:8538
PUBSUB_PROJECT_ID=btv-local

# AWS CDN config
AWS_MEDIAPACKAGE_ROLE=<REPLACE>
AWS_MEDIAPACKAGE_SOURCE=<REPLACE>
AWS_DEFAULT_REGION=eu-north-1
AWS_INGEST_BUCKET=vod-asset-ingest-sta
AWS_STORAGE_BUCKET=<REPLACE>
AWS_PACKAGING_GROUP=<REPLACE>

# Directus
DIRECTUS_URL=http://localhost:8055/
DIRECTUS_KEY=<REPLACE>

# General
PORT=8078
DB_CONNECTION_STRING=postgres://bccm@localhost:5432/bccm?sslmode=disable
DELETE_INGEST_FILES=false
IMAGE_CDN_DOMAIN=brunstadtv.imgix.net

# Live events
FIREBASE_PROJECT_ID=<OPTIONAL>

# Crowdin
CROWDIN_PROJECT_IDS=<REPLACE 1>[,<REPLACE 2>[,...]]
CROWDIN_TOKEN=<REPLACE>

# Algolia/search
ALGOLIA_APP_ID=<REPLACE>
ALGOLIA_API_KEY=<REPLACE>

# Redis
REDIS_ADDRESS=localhost:6378
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=0

BIGQUERY_PROJECT=<OPTIONAL>
BIGQUERY_DATASET=<OPTIONAL>

# Azure file storage (used for images)
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER=images

# videomanipulator
VIDEOMANIPULATOR_BASE_URL=http://localhost:8005/
VIDEOMANIPULATOR_API_KEY=
