PUBSUB_EMULATOR_HOST=localhost:8538
PUBSUB_PROJECT_ID=btv-local

AWS_REGION=eu-north-1
AWS_S3_ENDPOINT=http://localhost:9444/
AWS_INGEST_BUCKET=testbucket
AWS_ACCESS_KEY_ID=<REPLACE>
AWS_SECRET_ACCESS_KEY=<REPLACE>
AWS_DEFAULT_REGION=eu-north-1

DB_CONNECTION="postgres://btv:btv123@localhost/btv?sslmode=disable"

JOBS_USER_EMAIL="admin@brunstad.tv"
